
<style>
 
.form-style input{
	border:0;
	height:50px;
	border-radius:0;
  color: #000000;
border-bottom:1px solid #ebebeb;	
}
.form-style input:focus{
border-bottom:1px solid #007bff;	
box-shadow:none;
outline:0;
color: #000000;
background-color:#ebebeb;	
}
.sideline {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
	color:#000000;
}
button{
height:50px;	
}
.sideline:before,
.sideline:after {
    content: '';
    border-top: 1px solid #ebebeb;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.sideline:after {
    margin: 0 0 0 20px;
}
</style>





{{>userHeader}}


 <div class="container">
  
  <div class="row m-5 no-gutters justify-content-center">
   
    <div class="col-lg-6 border border-light shadow-lg p-5">
      <h2 class="pb-3 fw-bolder"></h2>
      <div class="form-style">
       
       <section class="login_part section_padding ">
        <div class="container">
            <div class="row align-items-center">
                <div class="">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            
                            <p>Please submit the Email<br/>to get the reset password link on your registered Email
                            id</p>
                            <a href="/login" class="btn_3">Back to login page</a>
                        </div>
                    </div>
                </div>
              
                <div class="">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            
                            <form class="row contact_form" method="post" action="/forgot-password">
                                <div class="col-md-12 form-group p_star">
                                    <input type="email" class="form-control" id="email" name="email" value="" required
                                        placeholder="Enter Email">
                                </div>
                                <div class="col-md-12 form-group">
                                    <span id="verifyotpspan"></span>
                                    <button type="submit" value="submit" class="btn_3 btn btn-dark w-100 font-weight-bold mt-2">
                                      Send Reset Link
                                    </button>
                              
                                </div>
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
      
        
      </div>

    </div>
  </div>
</div>
